* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.container > div:first-child {
    height: 350px;
    border: 15px solid #f88992;
    align-content: center;
}

.container > div:first-child img {
    position: relative;
    right: 50px;
}

.container > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

h1 {
    font-size: 50px;
    text-transform: capitalize;
    margin: 0;
}

h1 + div {
    color: #f88992;
    font-weight: bold;
    position: relative;
    padding-left: 60px;
}

h1 + div::before,
h1 + div::after {
    content: "";
    display: block;
    position: absolute;
}

h1 + div::before {
    width: 8px;
    height: 8px;
    border: 2px solid #f88992;
    top: 4px;
    left: 0;
}

h1 + div::after {
    width: 40px;
    height: 3px;
    background-color: #f88992;
    top: 8px;
    left: 5px;

}

h1 + div + div {
    color: #999;
    line-height: 1.8;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.icons > div {
    width: 180px;
    height: 180px;
    border: 1px solid #999;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons > div::after {
    content: "\25E5";
    font-size: 40px;
    color: #f43748;
    position: absolute;
    right: 3px;
    top: -3px;
}

.icons > div::before {
    color: #eee;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    bottom: 20px;
    z-index: -1;
}

.icons > div:nth-child(1)::before {
    content: "01";
}
.icons > div:nth-child(2)::before {
    content: "02";
}
.icons > div:nth-child(3)::before {
    content: "03";
}

.icons > div div {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.icons div:nth-child(2) img,
.icons div:nth-child(3) img {
    margin-top: -20px;
}