* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.header div {
    margin-bottom: 15px;
    color: #7e8d99;
}

.header div:first-child {
    font-size: 30px;
    letter-spacing: 5px;
}

.header div:last-child {
    font-size: 35px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.main img {
    border-radius: 50%;
}

.main img + div {
    font-family: 'Times New Roman', Times, serif;
    color: #f05f75;
    font-size: 35px;
}

.main img + div + div {
    color: #7e8d99;
    font-size: 14px;
    position: relative;
    width: 100%;
}

.main img + div + div::before,
.main img + div + div::after {
    content: "";
    display: block;
    width: 150px;
    height: 1px;
    background-color: #7e8d99;
    position: absolute;
    top: 50%;
}

.main img + div + div::after {
    right: 0;
}

.social-media a {
    text-decoration: none;
    color: #dfdee3;
    font-size: 32px;
    margin-right: 12px;
}

.social-media + div {
    color: #7e8d99;
    line-height: 1.5;
    font-size: 16px;
}

div.time {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.time div {
    width: 40%;
}

.time div:nth-child(3) {
    width: 100%;
    color: #7e8d99;
    font-size: 14px;
}

.time div:not(div:nth-child(3)) {
    border: 1px solid #7e8d99;
    height: 140px;
    font-size: 50px;
    color: #f05f75;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.time span {
    font-size: 14px;
    color: #7e8d99;
} 